# Build outputs
build/
EWARM/FLASH/
*.elf
*.hex
*.map
*.a
*.o
*.pbi
*.pbd
*.pbw
*.pbi.dep

# IDE / Debugger
*.eww
*.ewp
*.jdebug
*.jdebug.user
*.yct
*.code-workspace

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
*.ninja*

# Clangd / Cache
.cache/

# Scripts tools
.scripts/

# IDE local config
.vscode/

# OS
.DS_Store
Thumbs.db
